:root {
  --bg-color: #1f222a;
  --text-secondary-color: #74c76b;
  --text-color: #fff;
  --text-input-bg-color: hsl(224, 15%, 7%);
  --hover-text-color: hsl(114, 96%, 95%);
  --page-max-width: 900px;
  --navbar-height: 3rem;
  --list-general-margine: 0.5rem;
}

body {
  background-color: #1f222a;
  margin: 0px;
}

nav {
  background: hsl(223.6,15.1%,18.3%);
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  background: hsl(223.6,15.1%,18.3%);
  max-width: var(--page-max-width);
  width: 100%;
}

nav ul {
  padding: 0;
  justify-content: space-between;
}

nav .right-submenu,
nav .left-submenu {
    margin: 0px 0px;
}

nav .right-submenu li,
nav .left-submenu li {
  font-size: 1.2rem;
  display: inline-block;
  list-style-type: none;
  padding: 0.2em 0.4em;
  color: var(--text-secondary-color);
  font-weight: bold;
  white-space: nowrap;
}

nav .right-submenu li:last-child {
  margin-right: 0.2em;
}

nav .left-submenu li:fst-child {
  margin-left: 0.2em;
}

nav .left-submenu .selected {
  background-color: var(--text-secondary-color);
  color: var(--bg-color);
  border: 0;
}

nav .left-submenu li:hover:not(.selected),
nav .right-submenu li:hover:not(.selected) {
  color: var(--hover-text-color);
}

nav a {
  color: var(--text-secondary-color);
  text-decoration: none;
}

nav a::after {
  color: var(--bg-color);
  text-decoration: none;
}

nav li:hover a {
  color: var(--hover-text-color);
  text-decoration: none;
}

.content-wrapper {
  color: var(--text-color);
  position: absolute;
  width: 100%;
  left: 0px;
  top: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  padding-top: 0.5rem;
  width: 100%;
  max-width: var(--page-max-width);
}

.filter-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  font-size: 1.1rem;
  margin: 0.2em 0.2em;
  border: 0.15em;
  border-style: solid;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-color: var(--text-secondary-color);
  color: var(--text-secondary-color);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: var(--bg-color); 
}

button:hover:not([disabled]) {
  border-color: var(--hover-text-color);
  color: var(--hover-text-color);
}

button:disabled {
  background: var(--text-secondary-color);
  color: var(--bg-color);
  cursor: default;
}

.button-input {
  font-size: 1.1rem;
  border-style: none;
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: var(--text-secondary-color);
  color: var(--text-secondary-color);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: var(--text-input-bg-color);
  outline: none;
}

.search {
  font-size: 1.1rem;
  margin: 0.2em 0.2em;
  border: 0.15em;
  border-style: solid;
  border-radius: 1em;
  padding-left: 0.8em;
  padding-right: 1em;
  border-color: var(--text-secondary-color);
  color: var(--text-secondary-color);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: var(--bg-color);
  outline: none;
  background-color: var(--text-input-bg-color);
}

img {
  display:inline-block;
  width: auto;
  height: 100%;
}

.list-content {
  margin-top: var(--list-general-margine);
  display: block;
}

.anime-list-row {
  height: 10em;
  border: 0.15em;
  border-style: solid solid none solid;
#  border-radius: 1em;
  border-color: var(--text-secondary-color);
  padding: var(--list-general-margine);
  display: flex;
  align-items: center;
}

.anime-list-row:first-child {
  margin-top: 0.5em;
}

.anime-list-row:last-child {
  border-bottom-style: solid;
}

.anime-list-row img {
  margin-right: var(--list-general-margine);
}

.anime-list-row div {
  display: flex;
  align-items: left;
  flex-direction: column;
}

input.skewed-subscribe-checkbox {
  display: none;
}

label.skewed-subscribe-checkbox {
  cursor: pointer;
}

label.skewed-subscribe-checkbox div{
  display: inline-block;
  height: 1.3em;
  font-weight: bold;
  color: #fff;
  padding: 0.3em;
  overflow: hidden;
  transform: skew(-10deg);
  transition: all 0.4s ease;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

input.skewed-subscribe-checkbox+label  div{
  background: #02C66F;
}

input.skewed-subscribe-checkbox:checked+label div{
  background: #FF3A19;
}

.anime-list-row .title {
  font-weight: bold;
  padding-bottom: var(--list-general-margine);
}

.test {
  border-color: var(--text-secondary-color);
  color: var(--text-secondary-color);
}

.field-container {
  color: var(--text-secondary-color);
  position: relative;
  display: inline-block;
  border: 0px;
  border-bottom: 0.15em;
  border-style: solid;
}

.field-input {
  padding: 1rem 0.5rem 0rem 0.5rem;
  color: var(--text-color);
  outline: none;
  border: 0px;
/*  background-color: var(--text-input-bg-color); */
  background-color: var(--text-input-bg-color); */
/*  background-color: var(--bg-color);*/
  text-decoration: none;
  padding-top: 1.5rem;
  font-size: 1.1rem;
}

.field-label {
  top: 0.8em;
  left: 0.5em;
  position: absolute;
/*  background-color: var(--bg-color); */
  cursor: text;
  transition: all 0.2s ease;
}

.field-label-content {
  font-size: 1.0rem;
  transition: all 0.2s ease;
}

.field-input:focus + div {
  top: 0.25em;
}

.field-input:focus + div .field-label-content {
  font-size: 0.8rem;
}

.field-input:not(:placeholder-shown) + div {
  top: 0.25em;
}

.field-input:not(:placeholder-shown) + div .field-label-content {
  font-size: 0.8rem;
}
